@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.5px;
}
.sidebar-menu {
  .top-menu {
    .p-panelmenu {
      .p-panelmenu-content {
        padding: 0 !important;
        border: none !important;
        background: none !important;
        color: none !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }
    }
  }
  .p-panelmenu {
    .p-panelmenu-header {
      > a {
        border: none !important;
        background: none;
      }
      > a:hover {
        background: none !important;
        color: #0b5d70 !important;
      }
      > a:focus {
        border: none !important;
        box-shadow: none !important;
      }
    }
    .p-panelmenu-content {
      padding: 0 !important;
      border: none !important;
      background: none !important;
      color: none !important;
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
      .p-menuitem {
        > a {
          border: none !important;
          background: none;
        }
        > :hover {
          background: none !important;
          border-color: #dee2e6;
          color: #0b5d70 !important;
        }
        > a:focus {
          border: none !important;
          box-shadow: none !important;
        }
      }
    }
  }
  //   .p-panelmenu-header,
  .pi-chart-line:before {
    :hover {
      color: #0b5d70 !important;
    }
  }
}
.tabs {
  display: flex;
  align-items: center;
  .tab-btn {
    margin-left: 1%;
    display: inline-flex;
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 40px;
    .p-button:enabled:hover {
      color: #5a5a5a !important;
      background: transparent !important;
    }
    button {
      &:nth-child(2) {
        padding-left: 0 !important;
        width: 40px;
        padding-top: 0;
      }
      :focus {
        box-shadow: none !important;
      }
      color: #5a5a5a;
      background-color: transparent !important;
      border: none;
      padding-right: 0px !important;
    }
    .p-button:focus {
      box-shadow: none !important;
    }
  }
}
.p-button {
  background: #0b5d70;
  .p-button-label {
    font-size: 15px;
  }
}
.p-datatable-responsive-scroll > .p-datatable-wrapper {
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(170, 170, 170, 0.4);
  width: 100%;
}
.p-datatable .p-datatable-thead > tr > th {
  padding: 1px;
  margin-left: 5px;
  // border-left: 1px solid black !important;
}
.p-button:enabled:hover {
  color: none !important;
  background: #0b5d70 !important;
}
.p-button:enabled:active {
  color: none !important;
  background: #0b5d70 !important;
}
